@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Playfair+Display:wght@500&display=swap');
body {
  background:linear-gradient(#0a93a5,#00e1ff,#34e7ff) no-repeat;
  border-radius: 5px;
}

.tables th,
.tables td {
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
}
table {
  font-family: Arial, sans-serif;
  width: 100%;
  margin-top: 50px;
  background-color: #dddddd;
  border: 2px solid black;
  border-radius: 20px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  margin-bottom: 100px;
}

th,
td {
  border: 1px solid black;
  /* Black border for cells */
  padding: 8px;
}
.btn_register{
  background-color: rgb(18, 120, 138);
  color: white;
  border: 1px solid black;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  
}

td,
th {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



.form-label {
  font-size: 18px;
  font-weight: 700;
}


.typed-text {
  font-family: "Playfair Display", serif;
  margin-top: 60px;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
  font-size: 50px;
  align-items: center;
  text-align: center;
}

.register_sales{
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  width: 150px;
  height: 40px;
  border-radius: 10px;
  
  
}