<tr id="cliente-{{cliente.id}}">
    <th scope="row">{{ cliente.id }}</th>
    <td>{{ cliente.nome }}</td>
    <td>{{ cliente.telefone }}</td>
    <td>{{ cliente.dia}}</td>
    <td>{{ cliente.quantidade }}</td>
    <td>
        <button class="btn_register"
        data-target="#exibir-cliente"
        data-bs-toggle="modal" data-bs-target="#RegistroModal">
                Registros
        </button>
        <button class="register_sales" 
          c-get="{{ url_for('cliente.detalhe_cliente', cliente_id=cliente.id) }}"
        data-target="#exibir-cliente"
        data-bs-toggle="modal" data-bs-target="#RegistroModal">
                Registrar venda
        </button>

        <button class="btn btn-success" 
            c-get="{{ url_for('cliente.detalhe_cliente', cliente_id=cliente.id) }}"
            c-target="#exibir-cliente"
            data-bs-toggle="modal" data-bs-target="#exampleModal">
                Calcular
        </button>

        <button class="btn btn-primary" 
            c-get="{{ url_for('cliente.form_edit_cliente', cliente_id=cliente.id) }}"
            c-target="#form-cliente">
                Editar
        </button>

        <button class="btn btn-danger" 
            c-delete="{{ url_for('cliente.deletar_cliente', cliente_id=cliente.id) }}"
            c-remove-closest="tr">
                Deletar
        </button>
    </td>
</tr>